@media screen and (max-width: 1024px) {
  body p {
    text-align: center;
  }
  .controls {
    top: auto;
    bottom: 0;
    flex-direction: row;
    justify-content: center;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    background-color: var(--color-grey-5);
    .control {
      margin: 1rem 0.3rem;
    }
  }
  .container {
    padding: 40px;
  }
  .banner {
    .banner-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 40px;
      min-height: 100vh;
      .right-banner {
        padding-inline: 30px;
      }
    }
  }
  .contact-icon {
      display: flex;
      justify-content: center;
  }
  .main-title {
    h2 {
      font-size: 4rem;
      span {
        font-size: 4rem;
      }
      .bg-text {
        font-size: 4.5rem;
      }
    }
  }
  .theme-btn {
    width: 50px;
    height: 50px;
  }
  .timeline {
    padding-bottom: 6rem;
  }
  .about-stats {
    .progress-bars {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  .portfolios {
    grid-template-columns: repeat(1, 1fr);
    padding-bottom: 6rem;
    margin-top: 1rem;
  }
  .contact-content-con {
    .bottom-contact {
      margin-left: 0;
      margin-top: 2.5rem;
    }
  }
  .contact-content-con .bottom-contact .i-c-2 {
    flex-direction: column;
  }
  .contact-content-con .bottom-contact .i-c-2 :last-child {
    margin-left: 0;
    margin-top: 1.5rem;
  }
  .contact-content-con .bottom-contact {
    margin-bottom: 6rem;
  }
  .contact-item {
    flex-direction: column;
    margin: 1rem 0;
    p {
      font-size: calc(12px + 0.2vw);
      color: var(--color-grey-2);
    }
    .icon {
      grid-template-columns: 25px 1fr;
    }
  }
}

@media screen and (max-width: 767px) {
  .btns-con {
    display: flex;
    flex-direction: column;
    align-items: center;
    .btn-con {
      width: 100%;
      margin-bottom: 1rem;
    }
  }
  .main-title {
    h2 {
      font-size: 3rem;
      span {
        font-size: 3rem;
      }
      .bg-text {
        font-size: 4rem;
      }
    }
  }
  .container {
    padding: 7rem 3rem;
  }
  .about-stats .progress-bars {
    grid-template-columns: repeat(1, 1fr);
  }
}
